<% layout('layouts/boilerplate') %> 


<div id="button-textbox-background" class="visible"></div>
<div id="textbox-background" class="visible"></div>
<div id="name-field" class="visible">[최시우]</div>
<div id="content-field" class="visible"></div>
<div id="select-background" class="hidden">어떻게 하시겠습니까?</div>
<div id="menu1" class="hidden">1. 기쁨의 눈물을 흘린다</div>
<div id="menu2" class="hidden">2. 도망간다</div>

<img id="born" src="/img/siwoosimulator/born.png" alt="born">