<% layout('layouts/boilerplate') %> 

<img id="born" src="/img/siwoosimulator/born.png" alt="born">

<div id="textbox-background"></div>
<div id="name-field">[최시우]</div>
<div id="content-field"></div>
<div id="select-background">어떻게 하시겠습니까?</div>
<div id="menu1">1. 기쁨의 눈물을 흘린다</div>
<div id="menu2">2. 도망간다</div>