<% layout('layouts/boilerplate') %> 



<div id="textbox-background" class="visible"></div>
<div id="name-field" class="visible">[최시우]</div>
<div id="content-field" class="visible"></div>


<div id="select-background" class="hidden">어떻게 하시겠습니까?</div>
<div id="menu1" class="hidden"></div>
<div id="menu2" class="hidden"></div>


<div id="button-textbox-background" class="visible"></div>
<img id="born" src="/img/siwoosimulator/born.png" alt="born">