#born {
    opacity: 0.7;
}

#textbox-background {
    background-color: rgb(94, 94, 94);
    width: 300px;
    height: 150px;
    position: absolute;
    top: 488px;
    left: 25px;
    border-radius: 10px;
    opacity: 0.5;
}

#name-field {
    position: absolute;
    width: 70px;
    height: 18px;
    top: 500px;
    left: 40px;
    color: white;
    font-weight: bolder;
    margin: 0px;
}

#content-field {
    padding: 0px;
    margin: 0px;
    position: absolute;
    width: 270px;
    height: 100px;
    top: 520px;
    left: 40px;
    color: white;
}

#select-background {
    padding: 0px;
    margin: 0px;
    position: absolute;
    width: 200px;
    height: 100px;
    top: 300px;
    left: 70px;
    background-color: rgba(94, 94, 94, 0.5);
    color: white;
    font-weight: bolder;
    border-radius: 10px;
    padding: 5px 5px;
    box-sizing: border-box;
}



#menu1 {
    position: absolute;
    width: 170px;
    height: 20px;
    left: 85px;
    top: 335px;
    color: white;
    font-weight: bold;
    background-color: gray;
}

#menu2 {
    position: absolute;
    width: 170px;
    height: 20px;
    left: 85px;
    top: 367px;
    color: white;
    font-weight: bold;
    background-color: gray;
}